// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    border: 1px grey solid;
}

.loading-md .loading-wrapper {
    background: transparent;
    box-shadow: none;
}

.njg-overlay {
    background: #fbfbfb;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #6d6357;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    height: auto;
    max-width: 400px;
    min-width: 200px;
    padding: 0 15px;
    right: 10px;
    top: 10px;
    width: auto;
}

.njg-metadata {
    background: #fbfbfb;
    color: #6d6357;
    border-top: 1px solid #ccc;
    display: none;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 14px;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    padding: 1rem;
    width: auto;
    
    h3 {
        margin: 0;
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }
    
    p {
        margin: 0;
        padding-right: 1rem;
        float: left;
    }
    
    .njg-close {
        display: none;
    }
}

.njg-node {
    stroke-opacity: 0.5;
    stroke-width: 7px;
    stroke: #fff;
}

.njg-node:hover,
.njg-node.njg-open {
    stroke: rgba(0, 0, 0, 0.2);
}

.njg-link {
    cursor: pointer;
    stroke: #999;
    stroke-width: 2;
    stroke-opacity: 0.25;
}

.njg-link:hover,
.njg-link.njg-open {
    stroke-width: 4 !important;
    stroke-opacity: 0.5;
}