<ion-header>
    <ion-navbar>
        <ion-title>Pyramid Sliding</ion-title>
        <ion-buttons end>
            <button ion-button royal (click)="graph.innerHTML = '';generateGraph()">
                Generate New
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div #graph id="network-graph"></div>
</ion-content>