page-home {
    #network-graph {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    
    $colors: orange pink red brown lightblue blue darkblue lightgreen green darkgreen violet purple indigo;
    
    @for $i from 1 through length($colors) {
        .level#{$i} {
            fill: nth($colors, $i);
        }
    }
}